<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Trackit - Gestão de Ativos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="dashboard-container">
        <header class="header-actions">
            <div>
                <h1>Painel de Controlo</h1>
                <p>Laboratórios e Equipamentos</p>
            </div>
            <a href="{{ url_for('cadastro') }}" class="btn-new">+ Novo Equipamento</a>
        </header>

        <section class="table-card">
            <table>
                <thead>
                    <tr>
                        <th>Equipamento</th>
                        <th>Património</th>
                        <th>Status</th>
                        <th>Responsável</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ativo in ativos %}
                    <tr>
                        <td><strong>{{ ativo.nome }}</strong></td>
                        <td>{{ ativo.patrimonio }}</td>
                        <td>
                            <span class="status-pill {% if ativo.status == 'Disponível' %}status-disponivel{% else %}status-uso{% endif %}">
                                {{ ativo.status }}
                            </span>
                        </td>
                        <td>
                            {% if ativo.usuario_id %}
                                {{ ativo.responsavel.nome }}
                            {% else %}
                                <span style="color: #ccc;">-</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if ativo.status == 'Disponível' %}
                            <form action="{{ url_for('retirar', id=ativo.id) }}" method="POST" style="display: flex; gap: 5px;">
                                <select name="usuario_id" class="select-user">
                                    {% for user in usuarios %}
                                    <option value="{{ user.id }}">{{ user.nome }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn-action">Retirar</button>
                            </form>
                            {% else %}
                            <a href="{{ url_for('devolver', id=ativo.id) }}" class="btn-action-success">Devolver ao Lab</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>